

@media all and (min-width: $desktop) {
  .site-header {

    .site-name {
      background: url('../images/pws-department-name.png');
      height: 80px;
      left: 180px;
      max-width: 720px;
      top: 120px;
      background-repeat: no-repeat;
    }

    .site-banner img {
      height: 300px;
      border-top: solid 5px rgb(0, 131, 214);
      font-size: 15px;
    }

  }

  .site-name p {
    visibility: hidden;
  }

}

@include breakpoint($desktop) {
  header[role="banner"] {
    padding-top: 2.5em;
  }
}

header[role="banner"]>div {
  max-height: 305px;
  border: none;

}
