/**
* Needed to allow dropdowns to be seen
*/
header[role="banner"] > div {
  overflow: visible;
}

.main-nav {
  $transition-time-on: .3s;
  $transition-time-off: .3s;

  @include breakpoint($desktop) {
    margin: auto;
    position: relative;
    top: -6em;
    width: 93%;

    .menu-block-wrapper > .menu {
      border: 11px solid white;
    }

    .menu {
      box-sizing: border-box;

      // Adjusts Home Nav Icon to be centered
      .first {
        padding-top: 0px;
        a {
          padding-top: 4px;
        }
      }


      li.active:hover, li.active:focus-within {
        transition: .3s;
        background-color: $blue;

        a {
          background-color: transparent;
          color: white;
          transition: .3s;
        }

        .menu {
          a {
            color: $wwu-blue;

            &:hover, &:focus, &:active {
              color: $lime-green;
            }
          }
        }
      }

      li {
        vertical-align: middle;
        background-color: $light-blue;
        border-right: white solid 7px;
        height: 40px;
        &:active{
          background-color: $blue;
        }
        &:hover, &:focus-within {
          background-color: $blue;
          transition: .3s;

          &>a {
            color: $lime-green;
            background-color: transparent;
            transition: .3s;
          }
        }
        a {
          padding-left: 10px;
          padding-right: 10px;
          line-height: 15px;
        }
      }

      li.active {
        transition: .3s;
      }
    }



    float: none;
    margin: auto;
    max-width: 1140px;
    padding: 0;
    padding-top: 5px;

    div div .menu li {
      border-width: 0px 11px 0px 0px;
      padding: 10px 0px 0px 0px;
    }


    .menu__item {
        background-color: #fff;
        border: 0;
        padding: 0;
        position: relative;
    }

    .menu__item:hover, .menu__item:focus {
        background-color: transparent;
    }

    .menu__link {
        color: $wwu-blue;
        padding: .5em 0;
      }

  }

  .menu__link,
  .active .menu__link.active {
    transition: $transition-time-on;

    &:hover,
    &:focus {
      @include breakpoint($desktop) {
        outline: 0;
        color: $lime-green;
        background-color: transparent;
        transition:.3s;
      }
    }
  }

  .wwu-dropdown-opened {
    .menu__link,
    .menu__link.active {
      background-color: $wwu-blue;
      color: #fff;
    }
  }

  .wwu-dropdown-opening {
    .menu__link,
    &.active .menu__link {
      transition: $transition-time-on;
    }
  }

  .wwu-dropdown-closing {
    .menu__link,
    &.active .menu__link {
      transition: $transition-time-off;
    }
  }

  .expanded > .menu__link::after {
    @include breakpoint($desktop) {
      @include transform(rotate(90deg));
      color: #e9e9e9;
      content: '\203A';
      display: block;
      font-size: 150%;
      line-height: 1;
    }
  }

  .expanded > .menu__link.active::after {
    color: #fff;
  }
}

// Styling for sub-menu
.menu .menu {
  @include breakpoint($desktop) {
    padding-top: 10px;
    font-size: 90%;
    position: absolute;
    top: 100%;
    width: auto;
    background-color: $light-gray;
    border-left: none;

    li.menu__item, .is-expanded, .expanded {
      border: none;
      padding: 0px;
    }
  }

  .menu__item {
    @include breakpoint($desktop) {
      background-color: $light-gray;
      display: block;
      font-weight: normal;
      text-transform: none;
    }
  }

  .menu__item:last-child {
    @include breakpoint($desktop) {
      border-bottom: 0;
    }
  }

  .menu__link,
  .active .menu__link.active {
    @include breakpoint($desktop) {
      color: $blue;
      display: block;
      padding: .65em;
      text-align: left;
      white-space: nowrap;
      word-wrap: normal;
      background-color: $light-gray;


      .leaf:hover {
        background-color: $blue;
      }

    }

    &:hover,
    &:focus {
      @include breakpoint($desktop) {
        background-color: $blue;
        color: $lime-green;
      }
    }
  }

  .expanded .menu__link::after {
    content: none;
  }
}

// Styling for side-menu
.side-menu {
  h2.pane-title {
    color: white;
    margin-bottom: 0px;
    padding: .66em 1em;
  }

  ul {
    padding-left: 0px;


  }

  ul li {
    list-style-image: none;
    list-style-type: none;
    padding: .66em 1em;
    border-bottom: 1px solid white;
    background-color: #eee;

    a{
      color: $blue;
    }

    a:hover {
      text-decoration: none;
    }


  }

  li:visited, li:hover, li:active{
    background-color: $lime-green;
  }
}
