body {
  background-color: white;
}

main {
  background-image: none;
  background-color: white;
  margin: 0px;
}

.page-title{
    border-bottom: none;
    margin-bottom: none;
    margin-top: 2%;
    text-align: center;
}



// casas-staff-coordinators-and-advocates page-


.john {
  width: 50%;
  float: left;
}

.michelle {
position: relative;
top: 65px;
}

.pane-our-volunteers-panel-pane-1 {
  padding-top: 65px;
}
