.pane-nodequeue-2 {
  > .pane-title {
    background-color: initial;
    color: $wwu-blue;
    font-size: 24px;
    text-transform: initial;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .view-content {
    max-height: initial;
    min-height: initial;

    .field-content {
      margin-left: 0;

      a {
        font-size: 20px;
      }
    }
  }
}

.faq-page {
  .pane-custom > .pane-title {
    display: none;
  }
}
