div.footer-center {
position: relative;
top: 20px;
font-size: 14px;
float: left;
}

div.footer-center ul.menu {
    padding-left: 0;
}

.footer-center .western-privacy-statement a {
    padding-left: 0;
}
