div.panel-pane.pane-views.pane-news-n-events .item-list .pager {
    background-color: transparent;
}

div.panel-pane.pane-views.pane-news-n-events li.pager-current:after {
    visibility: collapse;
}