

h2.pane-title {
    visibility:visible;
}

div.views-field.views-field-counter {
    visibility:collapse;
    position: absolute;
}

li.pager-item a {
    //visibility:hidden;
    text-decoration: none;
    display: inline-block;
}

li.pager-current{
    //visibility: hidden;
    display: inline-block;
}

/*
li.pager-current:after{
    content: "●";
    visibility: visible;
    font-size: 35px;
    line-height: 17px;
    position: absolute;
    padding-left: 1px;
    background-color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    text-align: center;
}

li.pager-item a:after{
    content: "";
    visibility: visible;
    font-size: 50px;
    position: absolute;
    line-height: 15px;
    background-color: #fff;
    width: 17px;
    border-radius: 100%;
    width: 22px;
    height: 21px;
    color:rgb(131, 204,213);
}

.item-list .pager{
    background-color: rgb(121,204,214);
    //width: 115px;
    height: 27px;
    padding-top: 4px;
    text-align:left;
}


li.pager-first.first {
    position: absolute;
}

li.pager-previous {
    position:absolute;
}

li.pager-next{
    position: absolute;
}

li.pager-last.last{
    position: absolute;
}

li.pager-current.first{
    left: 0px;
   position: absolute;
   padding: 0;
}
*/

h2.pane-title {
    background-color: dimgrey;
    color: #fff;
    padding: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
}
