.view-meet-our-staff {

  .views-row {
    clear: left;
  }

  .view-content {
    height: inherit;
    max-height: inherit;
  }

  .views-field-field-professional-designation {
    > h2  {
      border-bottom: 1px solid $wwu-blue;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
  }

  .field-name-field-your-photo {
    > img {
      border-radius: 25px;
    }
    
    @include breakpoint($mobile) {
      margin-right: 1.5em;
      float: left;
      padding-bottom: 5em;
    }
  }

  .views-field-field-phone-number,
  .views-field-field-office-hours,
  .views-field-field-academic-title,
  .views-field-field-email {
    margin-bottom: 10px;
  }

  .views-field-field-academic-title > .field-content {
    font-weight: bold;
  }

  .views-field-field-phone-number > .field-content::before {
    @include western-glyph('\0021');
  }

  .views-field-field-office-hours > .field-content::before {
    @include western-glyph('\e805');
  }

  .views-field-field-email > .field-content::before {
    @include western-glyph('\0025');
  }

}
