main .page-title {
    border-bottom: none;
}

div.field-item.even {
    float: left;
    margin: 10px;
    padding-right: 170;

}


img[alt = "casas-button"]:hover {
    background-color:rgb(237,237,237);
}

img[alt = "adcas-button"]:hover {
    background-color:rgb(237,237,237);
}

img[alt = "haven-button"]:hover {
    background-color:rgb(237,237,237);
}

img[alt = "Tagline2"]{
    margin-left: 60px;
}

img[alt = "shis-button"]{
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-top: 12px;
    &:hover{
        background-color:rgb(237,237,237);
    }
}

img[alt = "phe-button"] {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-top: 12px;
    &:hover{
        background-color:rgb(237,237,237);
    }
}

img[alt = "aedu-button"] {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-top: 12px;
    &:hover{
        background-color:rgb(237,237,237);
    }
}

img[alt = "best-self-button"] {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-top: 12px;
    &:hover{
        background-color:rgb(237,237,237);
    }
}

img[alt = "thrive-button"]:hover {
    background-color:rgb(237,237,237);
}

div.field-item.even {
    border-bottom: solid 2px lightgrey
}

div.panel-pane.pane-custom.pane-1 {
    border-bottom: solid 2px lightgrey
}




div.wwu-50-percent-right-column {
    float: left;
width: 50%;
margin-left: 50%;
margin-right: -100%;
padding-left: 15px;
}

div.wwu-50-percent-left-column{
float: left;
width: 50%;
margin-left: 0%;
margin-right: -50%;
}
