.volunteer-view-wrapper {
  column-count: 3;

  .volunteer-view-list-item {
    list-style-type: none;
    padding: 0px;



    .views-field-title, .views-field, .field-topic-groups  {
      padding-left: 0px;
    }

    .views-row .field-thumnbail-image {
      margin-left: 0px;
    }
  }
}


//Styles for CASAS (Coordinators & Advocates)
.casas-view .views-row {
  width: 50%;
  float: left;
}

// Styles for calendar views

.calendar-calendar {
  .month-view {
    .full {
      tr {
        th.days, td.date-box {
          color: $wwu-black;
        }
        td.empty {
          color: transparentize($wwu-black, .4);
        }
      }
    }
  }
}
